<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:property-placeholder location="classpath:/config.properties"/>

	<!-- Bean de configuración de la aplicación -->
	<bean name="AppCfg" class="com.autentia.tutoriales.beanpostprocessors.bean.AppCfg">
		<property name="cfgProperty1" value="${app.property1}"/>
		<property name="cfgProperty2" value="${app.property2}"/>
	</bean>

	<!-- BeanPostProcessors -->
	<bean class="com.autentia.tutoriales.beanpostprocessors.bpp.HelloWorldBeanPostProcessor"/>
	<bean class="com.autentia.tutoriales.beanpostprocessors.bpp.AppCfgBeanPostProcessor"/>
	
</beans>
